.picture {
    border-radius: 50%;
    /* padding: 5px; */
    box-shadow: 0 5px 10px #555;
    max-height: 325px;
    max-width: 325px;
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow: hidden;
}

.section {
    justify-content: space-around !important;
}

.intro {
    margin: 0 !important;
    height: fit-content;
    align-self: center;
}

.name {
    font-weight: 800;
    font-size: 2.6rem;
    text-align: center;
    color: #222;
    line-height: normal;
    margin-bottom: 0.2em;
    /* white-space: pre; */
}

.subname {
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    color: #222;
    max-width: 72%;
    justify-content: center;
    margin-inline: auto;
}

.social {
    margin-inline: auto;
}

@media (max-width: 650px) {
    /* .name,
    .subname {
        text-align: left;
    } */
    .subname {
        max-width: 100%;
    }
}
