.card {
    transition: transform 0.1s ease;
    font-size: 0;
    box-shadow: 0px 0px 7px #888;
}

.image {
    width: 100px;
    height: 100px;
}

.topic {
}

.subtopic {
}

.title {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #222;
}

.subtitle {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3em;
    color: #333;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    max-width: 600px;
    text-align: justify;
}
