.grid {
    height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
}

.card {
    transition: transform 0.1s ease;
}

.card div {
    /* display: block !important; */
}

.image {
}

.test {
    height: 200px;
    width: 300px;
    background-color: red;
}

/* .image {
    width: auto !important;
    height: auto !important;
    min-width: 0% !important;
    min-height: 0% !important;
} */

.card:hover,
.card:focus,
.card:active {
    /* box-shadow: 5px 5px 10px #999; */
    /* transform: translate(-4px, -4px); */
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
